body {
  background-color: #025361;
}

.maindiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #14aad8;
  font-family: courier;
}
.alldiv {
  background: #00687a;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
  border: 0px solid black;
  width: auto;
  height: 40%;
  min-height: auto;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
}
.boxdiv input {
  width: auto;
  height: 100%;
  font-weight: bold;
  min-height: 30px;
  border-radius: 3px;
  border: 0px solid black;
  background: #0b9eb8;
  color: #085c6b;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.resultdiv li {
  /* background: #0b9eb8; */
  flex: 2;
  margin: 0;

  width: auto;
  padding: 5px;
  color: #085c6b;
  outline: none;
  font-weight: bold;
  font-family: courier;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  /* box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3); */
}
.resultdiv ul {
  margin-top: 10px;
  list-style-type: none;
  width: 210px;
  padding: 0;
}
.resultdiv {
  margin: 0;
  padding-inline-start: 0;
}
.input h1 {
  text-shadow: 5px 5px 10px black;
}
.boxdiv input:focus,
select:focus {
  outline: none;
}
.loopdiv {
  background: #0b9eb8;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 100%;
}
.lidiv {
  background-color: #00687a;
  padding: 10px 7px 10px 7px;
  border-radius: 3px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 10px;
}
.lidiv .deletebtn {
  width: auto;
  height: auto;
  font-size: bold;
  font-size: 13px;
  font-family: courier;
  font-weight: bolder;
  border: 0;
  padding: 0 15px 0 15px;
  background: none;
  color: #085c6b;
}
.loopdiv .deletebtn:focus {
  text-shadow: 1px 1px 10px white;
  outline: none;
}
